* {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #3f3f3f;
}

nav {
    background-color: red;
    width: 100vw;
    height: 8vh;
}

.other-players {
    position: fixed;
    top: 8vh;
    background-color: teal;
    height: 92vh;
    width: 20vw;
}

main .stack {
    height: 40vh;
    position: fixed;
    left: 60vw;
    top: 44vh;
    transform: translate(-50%, -50%);
    border: none;
}

main .deck {
    position: fixed;
    left: 20vw;
    bottom: 0;
    width: 80vw;
    background-color: crimson;
    height: 20vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.deck img {
    height: 15vh;
    margin: 0.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}